body{
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
 }
nav{
 width: 100%;

 overflow: auto;
}
.logo{
 color: blanchedalmond;
 position: absolute;
 margin-top: 0;
 margin-left: 10px;
 width: 10%;
 font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
ul{
 padding: 0%;
 margin: 0% 0% 0% 150px;
 list-style: none;
 margin-left: 80px;
}
li{
 float: right;
}
nav a{
 width:100px;
 display: block;
 padding:20px 15px;
 text-decoration: none;
 font-family: Arial, Helvetica, sans-serif;
 color: white;
 text-align: center;
}
a:hover{
 color: blue;
 transition: 0.6s;    }
   .information{
     color: white;
     font-size: 70px;
     margin-top: 10%;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     text-align: center;
   }
   .information2{
     margin-top: -100px;
     color: aquamarine;
     text-align: center;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }